<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brace</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/ff17244aa6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
   <style>
        h6{
            margin-top: 10px;  
    }
   </style>
<!-- Navigation bar -->
   <header><h2>Brace Workouts</h2></header>
    <nav>
        <ul>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Pricings</a></li>
            <li><a href="#">Trainers</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </nav>

 <!-- Membership joining    -->
    <div class="member">

        <div class="join">
            <img class="rounded-circle" src="../Images/run.jpg" alt="Mac">

            <div>
                <p class=" mt-1">Access our Brace workout Services</p> 
                <button class="btn btn-outline-primary" type="submit" name="save" >Join Now</button>
            </div>
        </div>

        <div class="offers">
            <h1> Brace Workout Offers</h1>
            <ul>
                <li><a href="#">Daily Offers</a></li>
                <li><a href="#">Monthly Offers</a></li>
                <li><a href="#">Yearly Offers</a></li>
            </ul>
         </div>
    </div>
        
  
<!-- Exercise Cartegories     -->
    <h2 style="text-decoration: underline; margin-left: 10px;" class="mt-5">Workout Cartegories</h2> 
    <div class="training">
        <div class="legs">
            <img class="mt-2" src="../Images/legs.jpg" alt="Legs">
            <h6>Leg Workout</h6>
        </div>

        <div class="arms">
            <img class="mt-2" src="../Images/arms2.jpg" alt="Arms">
            <h6>Arm Workout</h6>

        </div>

        <div class="chest">
            <img class="mt-2" src="../Images/chest.jpg" alt="Chest">
            <h6>Chest Workout</h6>
        </div>


        <div class="yoga">
            <img class="mt-2" src="../Images/yoga.jpg" alt="Yoga">
            <h6>Yoga</h6>
        </div>

        <div class="yoga">
            <img class="mt-2" src="../Images/push-ups.jpg" alt="Yoga">
            <h6>Light Stomach Workouts </h6>
        </div>


        <div class="yoga">
            <img class="mt-2" src="../Images/packs.jpg" alt="Yoga">
            <h6>Heavy Stomach Workouts  </h6>
        </div>

        <div class="yoga">
            <img class="mt-2" src="../Images/back.jpg" alt="Yoga">
            <h6>Back Workouts  </h6>
        </div>


        <div class="yoga">
            <img class="mt-2" src="../Images/waist2.jpg" alt="Yoga">
            <h6>Waist Workouts  </h6>
        </div>
    </div>


<!-- Trainers list     --> 
   <h2 style="text-decoration: underline; margin-left: 10px;" class="mt-5">Trainers</h2> 
    <div class="trainers">
        <div class="trainer1">
            <img class="mt-2" src="../Images/trainer1.jpg" alt="trainer1">
                <div class="reach">
                <a href="http://www.twitter.com/@OluochIan"  target="_blank"><i style="color: white;" class="fab fa-twitter"></i></a>
                <a href="http://www.instagram.com/oluoch_ian"  target="_blank"><i style="color: white;" class="fab fa-instagram" ></i></a>
                <a href="http://www.facebook.com/ianmorvin"  target="_blank"><i style="color: white;" class="fab fa-facebook"></i></a>
            </div>
           
            <button class="button btn btn-outline-warning">Perry</button>
            
        </div>

        <div class="trainer2">
            <img class="mt-2" src="../Images/trainer2.jpg" alt="trainer2">
            <div class="reach">
                <a href="http://www.twitter.com/@OluochIan"  target="_blank"><i style="color: white;" class="fab fa-twitter"></i></a>
                <a href="http://www.instagram.com/oluoch_ian"  target="_blank"><i style="color: white;" class="fab fa-instagram" ></i></a>
                <a href="http://www.facebook.com/ianmorvin"  target="_blank"><i style="color: white;" class="fab fa-facebook"></i></a>
            </div>
            <button class="button btn btn-outline-warning">Venice</button>

        </div>

        <div class="trainer3">
            <img class="mt-2" src="../Images/trainer3.jpg" alt="trainer3">
            <div class="reach">
                <a href="http://www.twitter.com/@OluochIan"  target="_blank"><i style="color: white;" class="fab fa-twitter"></i></a>
                <a href="http://www.instagram.com/oluoch_ian"  target="_blank"><i style="color: white;" class="fab fa-instagram" ></i></a>
                <a href="http://www.facebook.com/ianmorvin"  target="_blank"><i style="color: white;" class="fab fa-facebook"></i></a>
            </div>
            <button class="button btn btn-outline-warning">Tokyo</button>
            
        </div>


        <div class="trainer4">
            <img class="mt-2" src="../Images/tainer5.jpg" alt="trainer4">
            <div class="reach">
                <a href="http://www.twitter.com/@OluochIan"  target="_blank"><i style="color: white;" class="fab fa-twitter"></i></a>
                <a href="http://www.instagram.com/oluoch_ian"  target="_blank"><i style="color: white;" class="fab fa-instagram" ></i></a>
                <a href="http://www.facebook.com/ianmorvin"  target="_blank"><i style="color: white;" class="fab fa-facebook"></i></a>
            </div>
            <button class="button btn btn-outline-warning">Morvin</button>
            
        </div>        

    </div>

<!-- offers 
<h2 style="text-decoration: underline; margin-left: 10px;" class="mt-5">Offers</h2> 
<div class="container">
    <div class="daily">
        Ksh 100\=
    </div>

    <div class="weekly">
        Ksh 500\=
    </div>

    <div class="monthly">
        Ksh 2500\=
    </div>
    
</div>-->
 
<!-- footer -->
    <footer class="footer-cont">
        <div class="about">
            <h3 style="color: rgb(255, 167, 3);">About</h3>
            <p>Our Gym services can be accessed at our local branches in</p>
            <ul>
                <li>Nairobi</li>
                <li>Mombasa</li>
                <li>Kisumu</li>
                <li>Eldoret</li>
            </ul>
        </div>

        <div class="contacts">
            <h3 style="color: rgb(255, 167, 3);">Contacts</h3>
            <p>Brace workout services can be accessed through</p>
            <ul>
                <li>+254726486929</li>
                <li><a  href="mailto:morvinian@gmail.com"><i  style="color: white;" class="fas fa-envelope"></i></a></li>
            </ul>
        </div>

        <div class="Social">
            <h3 style="color: rgb(255, 167, 3);">Social Media</h3>
            <ul>
               <li><a href="http://www.twitter.com/@OluochIan"  target="_blank"><i style="color: white;" class="fab fa-twitter"></i></a></li> 
               <li><a href="http://www.instagram.com/oluoch_ian"  target="_blank"><i style="color: white;" class="fab fa-instagram" ></i></a></li> 
               <li>  <a href="http://www.facebook.com/ianmorvin"  target="_blank"><i style="color: white;" class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      
</body>
</html>